<mat-card class="title-card" id="top">
  <mat-card-title>
    This is a {{ title }}!
  </mat-card-title>
</mat-card>

<mat-card class="html-card">
  <div>{{dynamic}}</div>
</mat-card>

<mat-card class="buttons">
  <button mat-raised-button (click)="notifierService.openOldDialog(dialogTitle, dialogMsgs)">Dialog</button>
  <button mat-raised-button (click)="throwError(errorType)">throwError</button>
  <button mat-raised-button (click)="notifierService.notify(dataSnack)">
    NotifySnackbar
  </button>
  <button mat-raised-button (click)="notifierService.notify(dataDialog)">
    NotifyDialog
  </button>
  <button mat-raised-button (click)="notifierService.notify(dataObservable)">
    NotifyObservable
  </button>
  <button mat-raised-button (click)="notifierService.openDurationSnackBar(messageSnack, snackDuration, 'green')">
    GreenDurationSnack
  </button>
  <button mat-raised-button (click)="notifierService.openDurationSnackBar(messageSnack, snackDuration, 'orange')">
    OrangeDurationSnack
  </button>
  <button mat-raised-button (click)="notifierService.openDurationSnackBar(messageSnack, snackDuration, 'red')">
    RedDurationSnack
  </button>
  <button mat-raised-button (click)="notifierService.openActionSnackBar(messageSnack, actionSnack, 'blue')">
    BlueActionSnack
  </button>
  <button mat-raised-button (click)="notifierService.openActionSnackBar(messageSnack, actionSnack, 'purple')">
    PurpleActionSnack
  </button>
  <button mat-raised-button (click)="notifierService.openActionSnackBar(messageSnack, actionSnack, 'default')">
    DefaultActionSnack
  </button>
</mat-card>

<mat-card class="basic-container">
  <span class="input-box">
    <mat-form-field>
      <input matInput [(ngModel)]="dialogTitle" placeholder="Dialog Title">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput [(ngModel)]="addMessage" placeholder="Add Dialog Message">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="dialogMsgs.push(addMessage)">AddDialogText</button>
    <br>
    <button mat-raised-button (click)="dialogMsgs.pop()">RemoveDialogText</button>
  </span>
  <span class="input-box">
    <mat-form-field>
      <input matInput [(ngModel)]="messageSnack" placeholder="SnackBar Message">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput [(ngModel)]="actionSnack" placeholder="SnackBar Action">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput [(ngModel)]="snackDuration" placeholder="SnackBar Duration">
    </mat-form-field>
  </span>
  <span class="input-box">
    <mat-form-field>
      <input matInput [(ngModel)]="errorType" placeholder="Throw an error (one-five)">
    </mat-form-field>
  </span>

</mat-card>
<mat-card class=footer>
  <mat-card-footer>
    <mat-card-content>
      <a href="#top">Back to top</a>
    </mat-card-content>
  </mat-card-footer>
</mat-card>


